storage/backend.log
storage/db.sqlite3
storage/tsd
storage/videos

.idea/
admindata

__pycache__/
backend/__pycache__/
app/__pycache__/
app/util/__pycache__/
app/apps/__pycache__/
app/apps/*/__pycache__/

backend/public_hosts.txt
resources/gtsdb_best_ckpt.pth
resources/model.pth
resources/videos
resources/model_original.pth

gtsdb_best_ckpt_old.pth
app/apps/bla
resources/instances_valid.json
resources/valid