build
input/GTSRB_Final_Test_Images/GTSRB
input/GTSRB_Final_Training_Images/GTSRB
input/GTSRB_Final_Test_Images.zip
input/GTSRB_Final_Training_Images.zip
tsrmodel.egg-info
outputs/*
.eggs
tsrmodel/tools/__pycache__
tsrmodel/__pychache__
tsrmodel/tsrmodel/__pychache__
train/__pycache__