build
input/GTSRB_Final_Test_Images/GTSRB
input/GTSRB_Final_Training_Images/GTSRB
input/GTSRB_Final_Test_Images.zip
input/GTSRB_Final_Training_Images.zip
tsrresnet.egg-info
outputs/*
.eggs
tsrresnet/tools/__pycache__
tsrresnet/__pychache__
train/__pycache__